In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('edu.csv')
df

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
0,201901,18504,121.607648,25.055949,中高級校,311308.923926,2.772112e+06
1,201901,16596,121.529918,25.098117,小學,303447.854963,2.776750e+06
2,201901,16263,121.522833,25.108253,小學,302728.898049,2.777870e+06
3,201901,22384,121.501561,25.090958,補習補校,300590.646195,2.775946e+06
4,201901,43092,121.551987,25.100629,幼教,305672.654242,2.777037e+06
...,...,...,...,...,...,...,...
11423,202401,25266,121.574865,25.045367,補習補校,308006.174072,2.770926e+06
11424,202401,34507,121.576631,25.038511,補習補校,308187.609575,2.770167e+06
11425,202401,43159,121.570079,25.041244,幼教,307525.160747,2.770467e+06
11426,202401,46956,121.573734,25.035289,托嬰中心,307896.780556,2.769809e+06
11427,202401,44326,121.563206,25.031814,幼教,306835.955293,2.769420e+06

In [37]:
print(df['CATEGORY'].unique())

['中高級校' '小學' '補習補校' '幼教' '社區大學' '研究機構' '大專院校' '托嬰中心' '特教' '外僑學校' '軍警校院']

In [38]:
# label encode 
df['CATEGORY_CODE'] = df['CATEGORY'].astype('category')
df['CATEGORY_CODE'] = df['CATEGORY_CODE'].cat.codes
df

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y,CATEGORY_CODE
0,201901,18504,121.607648,25.055949,中高級校,311308.923926,2.772112e+06,0
1,201901,16596,121.529918,25.098117,小學,303447.854963,2.776750e+06,3
2,201901,16263,121.522833,25.108253,小學,302728.898049,2.777870e+06,3
3,201901,22384,121.501561,25.090958,補習補校,300590.646195,2.775946e+06,9
4,201901,43092,121.551987,25.100629,幼教,305672.654242,2.777037e+06,4
...,...,...,...,...,...,...,...,...
11423,202401,25266,121.574865,25.045367,補習補校,308006.174072,2.770926e+06,9
11424,202401,34507,121.576631,25.038511,補習補校,308187.609575,2.770167e+06,9
11425,202401,43159,121.570079,25.041244,幼教,307525.160747,2.770467e+06,4
11426,202401,46956,121.573734,25.035289,托嬰中心,307896.780556,2.769809e+06,5
11427,202401,44326,121.563206,25.031814,幼教,306835.955293,2.769420e+06,4

In [39]:
p_taipei = pd.read_csv('points_taipei.csv')
p_taipei

           x1       y1      x2       y2
0      296103  2777535  296203  2777635
1      296103  2777635  296203  2777735
2      296103  2777735  296203  2777835
3      296103  2777835  296203  2777935
4      296103  2777935  296203  2778035
...       ...      ...     ...      ...
27656  317103  2768935  317203  2769035
27657  317103  2769035  317203  2769135
27658  317103  2769135  317203  2769235
27659  317103  2769235  317203  2769335
27660  317203  2769235  317303  2769335

[27661 rows x 4 columns]

In [40]:
p_new_taipei = pd.read_csv('points_new_taipei.csv')
p_new_taipei

            x1       y1      x2       y2
0       278508  2777870  278608  2777970
1       278508  2777970  278608  2778070
2       278508  2778070  278608  2778170
3       278508  2778170  278608  2778270
4       278508  2778370  278608  2778470
...        ...      ...     ...      ...
209743  351508  2767770  351608  2767870
209744  351608  2766970  351708  2767070
209745  351608  2767070  351708  2767170
209746  351608  2767270  351708  2767370
209747  351608  2767370  351708  2767470

[209748 rows x 4 columns]

In [41]:
# 計算每個方格內有多少家學校
def count_edu(df, p):
    count = []
    for i in range(len(p)):
        count.append(len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i])]))
    return count

In [42]:
# 分別計算每個方格內不同種類學校的數量
def count_category(df, p):
    count = []
    count_list = []
    for i in range(len(p)):
        count.append(len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i])]))
        count_list.append([len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i]) & (df['CATEGORY_CODE'] == j)]) for j in range(len(df['CATEGORY'].unique()))])
    return count, count_list

In [44]:
#呼叫函數
p_taipei["count"], p_taipei["count_list"] = count_category(df, p_taipei)
p_new_taipei["count"], p_new_taipei["count_list"] = count_category(df, p_new_taipei)

In [45]:
p_taipei.sort_values(by='count', ascending=False)

,x1,y1,x2,y2,count,count_list
5059,301903,2770835,302003,2770935,19,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 19, 0]"
12265,305403,2774535,305503,2774635,14,"[0, 0, 0, 1, 1, 1, 0, 0, 0, 11, 0]"
7650,303303,2779035,303403,2779135,13,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 0]"
16147,306903,2771535,307003,2771635,13,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 0]"
5226,302003,2770835,302103,2770935,13,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 13, 0]"
...,...,...,...,...,...,...
9732,304303,2775735,304403,2775835,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
9731,304303,2775635,304403,2775735,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
9730,304303,2775535,304403,2775635,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
9729,304303,2775435,304403,2775535,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"
27660,317203,2769235,317303,2769335,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]"

In [46]:
p_taipei = pd.concat([p_taipei, p_taipei['count_list'].apply(pd.Series)], axis=1)
p_taipei

,x1,y1,x2,y2,count,count_list,0,1,2,3,4,5,6,7,8,9,10
0,296103,2777535,296203,2777635,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
1,296103,2777635,296203,2777735,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
2,296103,2777735,296203,2777835,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
3,296103,2777835,296203,2777935,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
4,296103,2777935,296203,2778035,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27656,317103,2768935,317203,2769035,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
27657,317103,2769035,317203,2769135,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
27658,317103,2769135,317203,2769235,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
27659,317103,2769235,317203,2769335,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
27660,317203,2769235,317303,2769335,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0

In [47]:
p_new_taipei = pd.concat([p_new_taipei, p_new_taipei['count_list'].apply(pd.Series)], axis=1)
p_new_taipei

,x1,y1,x2,y2,count,count_list,0,1,2,3,4,5,6,7,8,9,10
0,278508,2777870,278608,2777970,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
1,278508,2777970,278608,2778070,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
2,278508,2778070,278608,2778170,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
3,278508,2778170,278608,2778270,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
4,278508,2778370,278608,2778470,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209743,351508,2767770,351608,2767870,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
209744,351608,2766970,351708,2767070,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
209745,351608,2767070,351708,2767170,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
209746,351608,2767270,351708,2767370,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0
209747,351608,2767370,351708,2767470,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0,0,0

In [48]:
p_taipei = p_taipei.drop(columns=['count_list'])
p_new_taipei = p_new_taipei.drop(columns=['count_list'])

category_map = dict(zip(df['CATEGORY_CODE'].unique(), df['CATEGORY'].unique()))

p_taipei = p_taipei.rename(columns=category_map)
p_new_taipei = p_new_taipei.rename(columns=category_map)

In [49]:
# 寫入csv
p_taipei.to_csv("points_taipei1.csv", index=False)
p_new_taipei.to_csv("points_new_taipei1.csv", index=False)