In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("hospital.csv")
df

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
0,201901,46519,121.535296,24.982699,居家護理,304040.848781,2.763968e+06
1,201901,79499,121.531718,25.101441,長照服務,303627.957961,2.777119e+06
2,201901,79573,121.523161,25.123221,長照服務,302755.552467,2.779528e+06
3,201901,79526,121.458382,25.041406,長照服務,296253.877467,2.770442e+06
4,201901,81250,121.545210,24.922685,長照服務,305068.422927,2.757324e+06
...,...,...,...,...,...,...,...
3219,202401,49891,121.563023,25.026578,區域醫院,306819.898722,2.768839e+06
3220,202401,96882,121.577649,25.043017,長照服務,308288.207880,2.770667e+06
3221,202401,81480,121.575555,25.040705,動物醫院,308077.995201,2.770410e+06
3222,202401,87456,121.558723,25.033256,長照服務,306382.884791,2.769577e+06
3223,202401,86607,121.574393,25.039164,長照服務,307961.462065,2.770238e+06

In [21]:
print(df['CATEGORY'].unique())

['居家護理' '長照服務' '動物醫院' '地區醫院' '康復之家' '區域醫院' '物理治療所' '特約醫事放射機構']

In [22]:
# label encode 
df['CATEGORY_CODE'] = df['CATEGORY'].astype('category')
df['CATEGORY_CODE'] = df['CATEGORY_CODE'].cat.codes
df

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y,CATEGORY_CODE
0,201901,46519,121.535296,24.982699,居家護理,304040.848781,2.763968e+06,3
1,201901,79499,121.531718,25.101441,長照服務,303627.957961,2.777119e+06,7
2,201901,79573,121.523161,25.123221,長照服務,302755.552467,2.779528e+06,7
3,201901,79526,121.458382,25.041406,長照服務,296253.877467,2.770442e+06,7
4,201901,81250,121.545210,24.922685,長照服務,305068.422927,2.757324e+06,7
...,...,...,...,...,...,...,...,...
3219,202401,49891,121.563023,25.026578,區域醫院,306819.898722,2.768839e+06,1
3220,202401,96882,121.577649,25.043017,長照服務,308288.207880,2.770667e+06,7
3221,202401,81480,121.575555,25.040705,動物醫院,308077.995201,2.770410e+06,0
3222,202401,87456,121.558723,25.033256,長照服務,306382.884791,2.769577e+06,7
3223,202401,86607,121.574393,25.039164,長照服務,307961.462065,2.770238e+06,7

In [23]:
p_taipei = pd.read_csv("points_taipei.csv")
p_taipei

           x1       y1      x2       y2
0      296103  2777535  296203  2777635
1      296103  2777635  296203  2777735
2      296103  2777735  296203  2777835
3      296103  2777835  296203  2777935
4      296103  2777935  296203  2778035
...       ...      ...     ...      ...
27656  317103  2768935  317203  2769035
27657  317103  2769035  317203  2769135
27658  317103  2769135  317203  2769235
27659  317103  2769235  317203  2769335
27660  317203  2769235  317303  2769335

[27661 rows x 4 columns]

In [24]:
p_new_taipei = pd.read_csv("points_new_taipei.csv")
p_new_taipei

            x1       y1      x2       y2
0       278508  2777870  278608  2777970
1       278508  2777970  278608  2778070
2       278508  2778070  278608  2778170
3       278508  2778170  278608  2778270
4       278508  2778370  278608  2778470
...        ...      ...     ...      ...
209743  351508  2767770  351608  2767870
209744  351608  2766970  351708  2767070
209745  351608  2767070  351708  2767170
209746  351608  2767270  351708  2767370
209747  351608  2767370  351708  2767470

[209748 rows x 4 columns]

In [25]:
# 計算每個方格內有多少家醫院
def count_hospital(df, p):
    count = []
    for i in range(len(p)):
        count.append(len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i])]))
    return count

In [26]:
# 分別計算每個方格內不同種類醫院的數量
def count_category(df, p):
    count = []
    count_list = []
    for i in range(len(p)):
        count.append(len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i])]))
        count_list.append([len(df[(df['POI_Y'] >= p['y1'][i]) & (df['POI_Y'] <= p['y2'][i]) & (df['POI_X'] >= p['x1'][i]) & (df['POI_X'] <= p['x2'][i]) & (df['CATEGORY_CODE'] == j)]) for j in range(len(df['CATEGORY'].unique()))])
    return count, count_list

In [27]:
#呼叫函數
p_taipei["count"], p_taipei["count_list"] = count_category(df, p_taipei)
p_new_taipei["count"], p_new_taipei["count_list"] = count_category(df, p_new_taipei)

In [28]:
p_taipei.sort_values(by='count', ascending=False)

           x1       y1      x2       y2  count                count_list
14248  306203  2771335  306303  2771435      7  [2, 0, 1, 2, 0, 0, 0, 2]
25771  311403  2774235  311503  2774335      7  [0, 0, 3, 2, 0, 0, 0, 2]
219    297003  2779135  297103  2779235      7  [0, 0, 2, 2, 0, 0, 0, 3]
12461  305503  2770435  305603  2770535      6  [0, 0, 0, 1, 0, 0, 0, 5]
11267  305003  2770035  305103  2770135      6  [0, 1, 0, 2, 0, 0, 0, 3]
...       ...      ...     ...      ...    ...                       ...
9480   304203  2772635  304303  2772735      0  [0, 0, 0, 0, 0, 0, 0, 0]
9479   304203  2772535  304303  2772635      0  [0, 0, 0, 0, 0, 0, 0, 0]
9477   304203  2772335  304303  2772435      0  [0, 0, 0, 0, 0, 0, 0, 0]
9476   304203  2772235  304303  2772335      0  [0, 0, 0, 0, 0, 0, 0, 0]
27660  317203  2769235  317303  2769335      0  [0, 0, 0, 0, 0, 0, 0, 0]

[27661 rows x 6 columns]

In [38]:
p_taipei = pd.concat([p_taipei, p_taipei['count_list'].apply(pd.Series)], axis=1)
p_taipei

,x1,y1,x2,y2,count,count_list,0,1,2,3,4,5,6,7,0
0,296103,2777535,296203,2777635,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
1,296103,2777635,296203,2777735,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
2,296103,2777735,296203,2777835,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
3,296103,2777835,296203,2777935,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
4,296103,2777935,296203,2778035,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27656,317103,2768935,317203,2769035,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
27657,317103,2769035,317203,2769135,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
27658,317103,2769135,317203,2769235,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
27659,317103,2769235,317203,2769335,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0
27660,317203,2769235,317303,2769335,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0,0

In [39]:
p_new_taipei = pd.concat([p_new_taipei, p_new_taipei['count_list'].apply(pd.Series)], axis=1)
p_new_taipei

,x1,y1,x2,y2,count,count_list,0,1,2,3,4,5,6,7
0,278508,2777870,278608,2777970,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
1,278508,2777970,278608,2778070,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
2,278508,2778070,278608,2778170,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
3,278508,2778170,278608,2778270,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
4,278508,2778370,278608,2778470,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209743,351508,2767770,351608,2767870,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
209744,351608,2766970,351708,2767070,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
209745,351608,2767070,351708,2767170,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
209746,351608,2767270,351708,2767370,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0
209747,351608,2767370,351708,2767470,0,"[0, 0, 0, 0, 0, 0, 0, 0]",0,0,0,0,0,0,0,0

In [42]:
p_taipei = p_taipei.drop(columns=['count_list'])
p_new_taipei = p_new_taipei.drop(columns=['count_list'])

category_map = dict(zip(df['CATEGORY_CODE'].unique(), df['CATEGORY'].unique()))

p_taipei = p_taipei.rename(columns=category_map)
p_new_taipei = p_new_taipei.rename(columns=category_map)

,x1,y1,x2,y2,count,動物醫院,區域醫院,地區醫院,居家護理,康復之家,物理治療所,特約醫事放射機構,長照服務,動物醫院
0,296103,2777535,296203,2777635,0,0,0,0,0,0,0,0,0,0
1,296103,2777635,296203,2777735,0,0,0,0,0,0,0,0,0,0
2,296103,2777735,296203,2777835,0,0,0,0,0,0,0,0,0,0
3,296103,2777835,296203,2777935,0,0,0,0,0,0,0,0,0,0
4,296103,2777935,296203,2778035,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27656,317103,2768935,317203,2769035,0,0,0,0,0,0,0,0,0,0
27657,317103,2769035,317203,2769135,0,0,0,0,0,0,0,0,0,0
27658,317103,2769135,317203,2769235,0,0,0,0,0,0,0,0,0,0
27659,317103,2769235,317203,2769335,0,0,0,0,0,0,0,0,0,0
27660,317203,2769235,317303,2769335,0,0,0,0,0,0,0,0,0,0

In [29]:
# 寫入csv
p_taipei.to_csv("points_taipei1.csv", index=False)
p_new_taipei.to_csv("points_new_taipei1.csv", index=False)