In [1]:
import pandas as pd

c:\Users\cxh83\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\cxh83\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
df = pd.read_parquet('POI_CODE.parquet')

df.head()

   POI_YM CODE POI_CODE GROUP     CATEGORY
0  202101    L      L24  民間機構  有線廣播電視系統經營者
1  202112    H      H01  逛街購物      百貨、購物中心
2  202112    J      J07  餐飲小吃         汽修保養
3  202112    L      L13  民間機構         廣播電台
4  202112    H      H13  逛街購物         流行服飾

In [3]:
df = pd.read_parquet('POI_CODE.parquet')

# 找出CATEGORY中不重複的值
print(df['CATEGORY'].unique())

['有線廣播電視系統經營者' '百貨、購物中心' '汽修保養' '廣播電台' '流行服飾' '郵局' '遊憩區' '租書店' '無線熱點'
 '就業服務' '飲料店' '迷你倉庫出租' '食品製造業' '加氣站' '精品名錶' '人壽保險' '玩具店' '美甲美睫' '自行車租賃站'
 '產後護理機構' '海上設施' '電信業者' '運動休閒用品' '洗衣店' '污水處理廠' '智慧儲物櫃' '室內裝修' '充電站'
 '寵物用品店' '餐廳' '發電廠' '電視台' '一般旅館' '有機商店' '駐華使領館' '變電所' '遊樂園區' '動物醫院' '溫泉'
 '公營事業' '早餐店' '租車' '投注站' '電影院' '國家公園' '花坊' '黨部' '宗教場所' 'KTV' '露營區' '網咖'
 '美容美體' '報社' '托嬰中心' '當舖業者' '液化石油氣分裝廠' '公辦事處' '醫學中心' '咖啡店' '加油站' '國際觀光旅館'
 '寺廟古蹟' '一般觀光旅館' '商圈、商店街' '3C' '停車場' '檢驗所' '鐵路設施' '冰淇淋店' '銀行' '遊覽車公司' '診所'
 '人力仲介' '捐血站' '旅行社' '手機基地台' '麵包喜餅店' '風力發電機' '速食店' '殯葬設施' '小學' '居家護理'
 '地方政府' '書局' '洗車場' '公路設施' '產物保險' '傢俱' '夜市' '外僑學校' '鞋店' '風景特定區' '展演場所'
 '垃圾場' '物理治療所' '不動產經紀' '時尚精品' '機車行' '事務所' '屠宰業' '東南亞便利商店' 'ATM' '醫療器材行'
 '精品珠寶' '客運站' '量販店' '重型機車行' '搬運業者' '休閒農牧業區' '娛樂業場所' '食品專賣店' '運動健身' '航空站'
 '中高級校' '農會' '便當店' '國民旅遊卡特約店' '捷運設施' '圖書館' '氣體製造廠' '公車站' '旅遊諮詢中心' '超級市場'
 '助產所' '婦幼用品' '生活用品百貨' '高壓電塔' '寺廟神壇' '呼吸照護所' '便利商店' '纜車' '軍警校院' '內衣專賣店'
 '桌遊店' '社福機構' '轉運站' '地區醫院' '其他' '電擊急救' '廢棄物回收貯存場' '中央政府' '民宿' '水泥業' '美妝店'
 '自行車專賣店' '親水遊樂區' '畜牧業' '工業產業園區' '駕訓班' '幼教' '研究機構' '殯葬用品店' '影碟出租店' '職能治療所'
 '連鎖藥妝店' '休閒公園' '觀光工廠' '長照服務' '大專院校' '公共廁所' '漁會' '特教' '工廠' '康復之家' '沖印店'
 '快遞' '遠通電收' '汽車經銷商' '博物館' '特約醫事放射機構' '焚化廠' '瓦斯行' '拖吊保管場' '補習補校' '眼鏡店'
 '證券行' '區域醫院' '森林遊樂區' '警憲消防' '自助服務' '藥局' '貨運、砂石車' '市場' '美髮店' '社區大學']

In [4]:
# category 中是不動產經紀的資料
print(df[df['CATEGORY'] == '不動產經紀'])

     POI_YM CODE POI_CODE GROUP CATEGORY
113  202112    H      H25  逛街購物    不動產經紀
125  202101    H      H25  逛街購物    不動產經紀
479  202307    H      H25  逛街購物    不動產經紀

In [5]:
df_poi = pd.read_parquet('POI.parquet')

df_poi.head()

   POI_YM  POI_ID POI_CODE     POI_LON    POI_LAT
0  201901  761231      X12  121.437267  25.082205
1  201901  530441      L20  121.444501  25.091104
2  201901   44225      B08  121.432105  25.090700
3  201901  311166      H25  121.446324  25.089979
4  201901  531323      L20  121.432268  25.069817

In [7]:
# 找出重複的資料
print(df_poi[df_poi.duplicated()])

Empty DataFrame
Columns: [POI_YM, POI_ID, POI_CODE, POI_LON, POI_LAT]
Index: []

In [8]:
# 找出空值
print(df_poi.isnull().sum())

POI_YM      0
POI_ID      0
POI_CODE    0
POI_LON     0
POI_LAT     0
dtype: int64

In [12]:
# 找出單行經緯度重複的資料
print(df_poi[df_poi["POI_LAT"] == df_poi["POI_LON"]])

Empty DataFrame
Columns: [POI_YM, POI_ID, POI_CODE, POI_LON, POI_LAT]
Index: []