In [1]:
import pandas as pd

c:\Users\cxh83\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\cxh83\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [3]:
df = pd.read_parquet('./data/POI_CODE.parquet')

df.sort_values(by='POI_YM', inplace=True)
df

     POI_YM CODE POI_CODE GROUP     CATEGORY
0    202101    L      L24  民間機構  有線廣播電視系統經營者
206  202101    B      B06  各級學校         研究機構
208  202101    F      F03  觀光旅遊         遊樂園區
209  202101    G      G05  休閒娛樂        影碟出租店
210  202101    C      C10  醫療院所        職能治療所
..      ...  ...      ...   ...          ...
434  202307    F      F12  觀光旅遊       旅遊諮詢中心
435  202307    B      B07  各級學校         補習補校
436  202307    C      C01  醫療院所         地區醫院
427  202307    H      H21  逛街購物          沖印店
554  202307    H      H02  逛街購物       生活用品百貨

[555 rows x 5 columns]

In [4]:
df = pd.read_parquet('./data/POI_CODE.parquet')

print(df['CATEGORY'].unique())

['有線廣播電視系統經營者' '百貨、購物中心' '汽修保養' '廣播電台' '流行服飾' '郵局' '遊憩區' '租書店' '無線熱點'
 '就業服務' '飲料店' '迷你倉庫出租' '食品製造業' '加氣站' '精品名錶' '人壽保險' '玩具店' '美甲美睫' '自行車租賃站'
 '產後護理機構' '海上設施' '電信業者' '運動休閒用品' '洗衣店' '污水處理廠' '智慧儲物櫃' '室內裝修' '充電站'
 '寵物用品店' '餐廳' '發電廠' '電視台' '一般旅館' '有機商店' '駐華使領館' '變電所' '遊樂園區' '動物醫院' '溫泉'
 '公營事業' '早餐店' '租車' '投注站' '電影院' '國家公園' '花坊' '黨部' '宗教場所' 'KTV' '露營區' '網咖'
 '美容美體' '報社' '托嬰中心' '當舖業者' '液化石油氣分裝廠' '公辦事處' '醫學中心' '咖啡店' '加油站' '國際觀光旅館'
 '寺廟古蹟' '一般觀光旅館' '商圈、商店街' '3C' '停車場' '檢驗所' '鐵路設施' '冰淇淋店' '銀行' '遊覽車公司' '診所'
 '人力仲介' '捐血站' '旅行社' '手機基地台' '麵包喜餅店' '風力發電機' '速食店' '殯葬設施' '小學' '居家護理'
 '地方政府' '書局' '洗車場' '公路設施' '產物保險' '傢俱' '夜市' '外僑學校' '鞋店' '風景特定區' '展演場所'
 '垃圾場' '物理治療所' '不動產經紀' '時尚精品' '機車行' '事務所' '屠宰業' '東南亞便利商店' 'ATM' '醫療器材行'
 '精品珠寶' '客運站' '量販店' '重型機車行' '搬運業者' '休閒農牧業區' '娛樂業場所' '食品專賣店' '運動健身' '航空站'
 '中高級校' '農會' '便當店' '國民旅遊卡特約店' '捷運設施' '圖書館' '氣體製造廠' '公車站' '旅遊諮詢中心' '超級市場'
 '助產所' '婦幼用品' '生活用品百貨' '高壓電塔' '寺廟神壇' '呼吸照護所' '便利商店' '纜車' '軍警校院' '內衣專賣店'
 '桌遊店' '社福機構' '轉運站' '地區醫院' '其他' '電擊急救' '廢棄物回收貯存場' '中央政府' '民宿' '水泥業' '美妝店'
 '自行車專賣店' '親水遊樂區' '畜牧業' '工業產業園區' '駕訓班' '幼教' '研究機構' '殯葬用品店' '影碟出租店' '職能治療所'
 '連鎖藥妝店' '休閒公園' '觀光工廠' '長照服務' '大專院校' '公共廁所' '漁會' '特教' '工廠' '康復之家' '沖印店'
 '快遞' '遠通電收' '汽車經銷商' '博物館' '特約醫事放射機構' '焚化廠' '瓦斯行' '拖吊保管場' '補習補校' '眼鏡店'
 '證券行' '區域醫院' '森林遊樂區' '警憲消防' '自助服務' '藥局' '貨運、砂石車' '市場' '美髮店' '社區大學']

     POI_YM CODE POI_CODE GROUP     CATEGORY
0    202101    L      L24  民間機構  有線廣播電視系統經營者
206  202101    B      B06  各級學校         研究機構
208  202101    F      F03  觀光旅遊         遊樂園區
209  202101    G      G05  休閒娛樂        影碟出租店
210  202101    C      C10  醫療院所        職能治療所
..      ...  ...      ...   ...          ...
434  202307    F      F12  觀光旅遊       旅遊諮詢中心
435  202307    B      B07  各級學校         補習補校
436  202307    C      C01  醫療院所         地區醫院
427  202307    H      H21  逛街購物          沖印店
554  202307    H      H02  逛街購物       生活用品百貨

[555 rows x 5 columns]

In [4]:
df_poi = pd.read_parquet('./data/POI.parquet')

df_poi

         POI_YM  POI_ID POI_CODE     POI_LON    POI_LAT
0        201901  761231      X12  121.437267  25.082205
1        201901  530441      L20  121.444501  25.091104
2        201901   44225      B08  121.432105  25.090700
3        201901  311166      H25  121.446324  25.089979
4        201901  531323      L20  121.432268  25.069817
...         ...     ...      ...         ...        ...
2656339  202401  394261      H38  121.551430  24.978674
2656340  202401  290326      G13  121.554214  24.904707
2656341  202401  346160      H25  121.541362  24.977659
2656342  202401  722241      X04  121.551598  24.979961
2656343  202401  517116      L02  121.533474  24.985348

[2656344 rows x 5 columns]

In [5]:
# duplicate
print(df_poi[df_poi.duplicated()])

Empty DataFrame
Columns: [POI_YM, POI_ID, POI_CODE, POI_LON, POI_LAT]
Index: []

In [6]:
# null
print(df_poi.isnull().sum())

POI_YM      0
POI_ID      0
POI_CODE    0
POI_LON     0
POI_LAT     0
dtype: int64

In [7]:
# 透過 POI_CODE 合併 df 與 df_poi 且只保留category
df_merge = pd.merge(df_poi, df, on='POI_CODE', how='left')[["POI_YM_x","POI_ID","POI_LON","POI_LAT","CATEGORY"]]

# 將 POI_YM_x 欄位名稱改為 POI_YM
df_merge = df_merge.rename(columns={"POI_YM_x":"POI_YM"})

df_merge

         POI_YM  POI_ID     POI_LON    POI_LAT CATEGORY
0        201901  761231  121.437267  25.082205     公共廁所
1        201901  761231  121.437267  25.082205     公共廁所
2        201901  761231  121.437267  25.082205     公共廁所
3        201901  530441  121.444501  25.091104     室內裝修
4        201901  530441  121.444501  25.091104     室內裝修
...         ...     ...         ...        ...      ...
7945423  202401  722241  121.551598  24.979961       工廠
7945424  202401  722241  121.551598  24.979961       工廠
7945425  202401  517116  121.533474  24.985348   工業產業園區
7945426  202401  517116  121.533474  24.985348   工業產業園區
7945427  202401  517116  121.533474  24.985348   工業產業園區

[7945428 rows x 5 columns]

In [8]:
# 保留 POI_ID 重複資料中 POI_YM 最大的一筆
df_final = df_merge.sort_values('POI_YM').drop_duplicates('POI_ID', keep='last')
df_final = df_final.sort_values('POI_YM').drop_duplicates(subset=['POI_LON','POI_LAT','CATEGORY'], keep='last')
df_final

         POI_YM  POI_ID     POI_LON    POI_LAT CATEGORY
2888844  201901   18504  121.607648  25.055949     中高級校
1886985  201901   16596  121.529918  25.098117       小學
1886781  201901  156331  121.519332  25.083349       網咖
1886868  201901  396772  121.528427  25.093691      停車場
1887261  201901    5106  121.507699  25.091323     公辦事處
...         ...     ...         ...        ...      ...
885577   202401  660107  121.569258  25.041988       黨部
885574   202401  336086  121.565874  25.032746    不動產經紀
885571   202401  471964  121.574470  25.032612      公車站
885496   202401  440931  121.560553  25.044918      停車場
7945427  202401  517116  121.533474  24.985348   工業產業園區

[273312 rows x 5 columns]

In [9]:
from pyproj import Proj, transform

In [10]:
# 將經緯度轉換為公尺
def latlon_to_meters(lat, lon):
    x, y = transform(Proj(init='epsg:4326'), Proj(init='epsg:3826') , lon, lat)
    return x, y

df_final['POI_X'], df_final['POI_Y'] = latlon_to_meters(df_final['POI_LAT'], df_final['POI_LON'])
df_final

c:\Users\cxh83\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
c:\Users\cxh83\anaconda3\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\cxh83\AppData\Local\Temp/ipykernel_11632/1775394461.py:3: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  x, y = transform(Proj(init='epsg:4326'), Proj(init='epsg:3826') , lon, lat)

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
2888844,201901,18504,121.607648,25.055949,中高級校,311308.923926,2.772112e+06
1886985,201901,16596,121.529918,25.098117,小學,303447.854963,2.776750e+06
1886781,201901,156331,121.519332,25.083349,網咖,302386.413032,2.775110e+06
1886868,201901,396772,121.528427,25.093691,停車場,303299.386809,2.776259e+06
1887261,201901,5106,121.507699,25.091323,公辦事處,301209.622546,2.775989e+06
...,...,...,...,...,...,...,...
885577,202401,660107,121.569258,25.041988,黨部,307441.967470,2.770549e+06
885574,202401,336086,121.565874,25.032746,不動產經紀,307104.770837,2.769524e+06
885571,202401,471964,121.574470,25.032612,公車站,307972.311665,2.769513e+06
885496,202401,440931,121.560553,25.044918,停車場,306562.211958,2.770870e+06
7945427,202401,517116,121.533474,24.985348,工業產業園區,303855.751263,2.764261e+06

In [11]:
# hospital
df_hospital = df_final[df_final['CATEGORY'].isin(['動物醫院','醫學中心診所','居家護理','物理治療所','地區醫院','長照服務','康復之家','特約醫事放射機構','區域醫院'])]
df_hospital

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
1903533,201901,46519,121.535296,24.982699,居家護理,304040.848781,2.763968e+06
1900554,201901,79499,121.531718,25.101441,長照服務,303627.957961,2.777119e+06
4819380,201901,79573,121.523161,25.123221,長照服務,302755.552467,2.779528e+06
1922871,201901,79526,121.458382,25.041406,長照服務,296253.877467,2.770442e+06
1920213,201901,81250,121.545210,24.922685,長照服務,305068.422927,2.757324e+06
...,...,...,...,...,...,...,...
882868,202401,49891,121.563023,25.026578,區域醫院,306819.898722,2.768839e+06
884223,202401,96882,121.577649,25.043017,長照服務,308288.207880,2.770667e+06
884241,202401,81480,121.575555,25.040705,動物醫院,308077.995201,2.770410e+06
885048,202401,87456,121.558723,25.033256,長照服務,306382.884791,2.769577e+06
882451,202401,86607,121.574393,25.039164,長照服務,307961.462065,2.770238e+06

In [1]:
# school
df_edu = df_final[df_final['CATEGORY'].isin(['外僑學校','中高級校','軍警校院','幼教','研究機構','大專院校','特教','補習補校','社區大學','小學'])]
df_edu

NameError: name 'df_final' is not defined

In [13]:
# transport
df_transport = df_final[df_final['CATEGORY'].isin(['鐵路設施','自行車租賃站','公路設施','客運站','捷運設施','公車站','轉運站'])]
df_transport

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
1888185,201901,420104,121.525828,25.090465,公車站,303038.626639,2.775901e+06
1892586,201901,416060,121.530708,25.104529,公車站,303524.745453,2.777461e+06
1895556,201901,415144,121.558438,25.147261,公車站,306301.930893,2.782205e+06
1891668,201901,413824,121.526556,25.092546,自行車租賃站,303111.160705,2.776132e+06
1891920,201901,418251,121.518204,25.089085,公車站,302270.190217,2.775745e+06
...,...,...,...,...,...,...,...
885607,202401,465686,121.567410,25.024740,自行車租賃站,307263.494018,2.768638e+06
885514,202401,473587,121.574507,25.045455,公車站,307970.008282,2.770935e+06
884906,202401,478512,121.557888,25.025944,公車站,306301.956644,2.768767e+06
884896,202401,477360,121.571998,25.044926,公車站,307717.082547,2.770876e+06
885571,202401,471964,121.574470,25.032612,公車站,307972.311665,2.769513e+06

In [14]:
# other
df_other = df_final[df_final['CATEGORY'].isin(['休閒公園','工業產業園區','殯葬設施','垃圾場','焚化廠'])]
df_other

,POI_YM,POI_ID,POI_LON,POI_LAT,CATEGORY,POI_X,POI_Y
1896152,201901,153557,121.467843,25.107681,休閒公園,297183.166820,2.777786e+06
1901457,201901,153854,121.761409,25.031018,休閒公園,326838.776630,2.769429e+06
1901720,201901,153580,121.537519,24.971428,休閒公園,304270.221817,2.762720e+06
1906883,201901,433279,121.550270,24.974298,工業產業園區,305556.353766,2.763043e+06
1912509,201901,152189,121.523239,24.975946,休閒公園,302826.495936,2.763215e+06
...,...,...,...,...,...,...,...
883895,202401,189810,121.566753,25.031161,休閒公園,307194.211195,2.769349e+06
885087,202401,185484,121.581744,25.038115,休閒公園,308703.760315,2.770125e+06
885335,202401,191172,121.577324,25.031293,休閒公園,308260.950646,2.769368e+06
884888,202401,189990,121.559499,25.028643,休閒公園,306463.306745,2.769067e+06
7945427,202401,517116,121.533474,24.985348,工業產業園區,303855.751263,2.764261e+06

In [21]:
# 寫入 csv
df_hospital.to_csv('hospital.csv', index=False)
df_edu.to_csv('edu.csv', index=False)
df_transport.to_csv('transport.csv', index=False)
df_other.to_csv('other.csv', index=False)